body {
    font-family: 'Poppins', sans-serif;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    margin-left: 7%;
    margin-right: 5%;
}

.text-one {
    margin-top: 250px;
}

h1 {
    font-size: 50px;
    margin-top: -60px;
    color: #575757;
    font-weight: 800;
}

.skip-color {
    color: orange;
}

.imagine {
    margin-top: -30px;
    color: #828282;
    margin-bottom: 30px;
}

.half-width img {
    width: 100%;
    margin-right: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.about-me {
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
}

.half-width-2 {
    width: 40%;
}

.half-width-2 img {
    width: 50%;
    margin-left: 20%;
    margin-top: 60px;
}

.about-me {
    margin-top: 80px;
}

h2 {
    color: #575757;
}

.lorem {
    color: #828282;
    margin-bottom: 30px;
}